In [215]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

In [216]:
#Setting Dataframe
district_df=school_data_complete

In [217]:
#Total Number of Schools
school_total=len(district_df["school_name"].unique())

#Total Number of Students
student_count = school_data_complete["Student ID"].count()

#Total Budget
budget=district_df["budget"].unique().sum()

#Average Math Score
math_avg=district_df["math_score"].mean()

#Average Reading Score
read_avg=district_df["reading_score"].mean()

# % Passing Math 
pass_math=district_df.loc[district_df["math_score"]>=70]
pass_math_count = pass_math["Student ID"].count()
per_pass_math = (int(pass_math_count)/int(student_count))*100

# % Passing reading
pass_read=district_df.loc[district_df["reading_score"]>=70]
pass_read_count = pass_read["Student ID"].count()
per_pass_read = (int(pass_read_count)/int(student_count))*100

# % Overall Passing
overall_pass=district_df.loc[(district_df["reading_score"]>=70) & (district_df["math_score"]>=70),:]
overall_pass_count=overall_pass["Student ID"].count()
per_pass_overall = (int(overall_pass_count)/int(student_count))*100

In [218]:
#District Summary Table
district_summary_df=pd.DataFrame({"Total_Schools": [school_total],
                                "Total_Students": student_count,
                                "Total_Budget" : budget,
                                "Average_Math_Score": math_avg,
                                "Average_Reading_Score": read_avg,
                                "%_Passing_Math": per_pass_math,
                                "%_Passing Reading": per_pass_read,
                                "%_Overall Passing": per_pass_overall})
district_summary_df

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing Reading,%_Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [219]:
school_df=school_data_complete

In [220]:
#School Type
school_type=school_data.set_index(["school_name"])["type"]

#Total Students Per School
total_students=school_df["school_name"].value_counts()

#Budget Per School
total_school_budget=school_df.groupby(["school_name"]).mean()["budget"]

#Budget Per Student
budget_per_stu=total_school_budget/total_students

#Math Score Average Per School
school_math_avg=school_df.groupby(["school_name"]).mean()["math_score"]

#Reading Score Average Per School
school_read_avg=school_df.groupby(["school_name"]).mean()["reading_score"]

#% Passing Math Per School
school_pass_math=school_df.loc[school_df["math_score"]>=70]
school_pass_math_count = school_pass_math.groupby(["school_name"]).count()["student_name"]
school_per_pass_math = school_pass_math_count/total_students*100

#% Passing Reading Per School
school_pass_read=school_df.loc[school_df["reading_score"]>=70]
school_pass_read_count = school_pass_read.groupby(["school_name"]).count()["student_name"]
school_per_pass_read = school_pass_read_count/total_students*100

#% Overall Passing Per School
school_overall_pass=school_df.loc[(school_df["reading_score"]>=70) & (school_df["math_score"]>=70)]
school_per_pass_overall = school_overall_pass.groupby(["school_name"]).count() ["student_name"] /total_students*100

In [221]:
#School Summary Table
school_summary_df=pd.DataFrame({"School Type" : school_type,
                                "Total_Students": total_students,
                                "Total_Budget" : total_school_budget,
                                "Total_Budget_Per_Student" : budget_per_stu,
                                "Average_Math_Score": school_math_avg,
                                "Average_Reading_Score": school_read_avg,
                                "%_Passing_Math": school_per_pass_math,
                                "%_Passing_Reading": school_per_pass_read,
                                "%_Overall_Passing": school_per_pass_overall})
school_summary_df

,School Type,Total_Students,Total_Budget,Total_Budget_Per_Student,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

# Top Performing Schools (By % Overall Passing)

In [222]:
top_schools_df=school_summary_df.sort_values(["%_Overall_Passing"], ascending=False)
top_schools_df.head()

,School Type,Total_Students,Total_Budget,Total_Budget_Per_Student,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (By % Overall Passing)

In [223]:
bottom_schools_df=school_summary_df.sort_values(["%_Overall_Passing"], ascending=False)
bottom_schools_df.tail()

,School Type,Total_Students,Total_Budget,Total_Budget_Per_Student,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

# Math Scores by Grade

In [224]:
#9th Grade Math Scores
grade_9th=school_df.loc[school_df["grade"]=="9th"]
grade_9th_math=grade_9th.groupby(["school_name"]).mean()["math_score"]

#10th Grade Math Scores
grade_10th=school_df.loc[school_df["grade"]=="10th"]
grade_10th_math=grade_10th.groupby(["school_name"]).mean()["math_score"]

#11th Grade Math Scores
grade_11th=school_df.loc[school_df["grade"]=="11th"]
grade_11th_math=grade_11th.groupby(["school_name"]).mean()["math_score"]

#12th Grade Math Scores
grade_12th=school_df.loc[school_df["grade"]=="12th"]
grade_12th_math=grade_12th.groupby(["school_name"]).mean()["math_score"]

In [225]:
math_grade_summary_df=pd.DataFrame({"9th": grade_9th_math,
                                "10th" : grade_10th_math,
                                "11th" : grade_11th_math,
                                "12th": grade_12th_math})
math_grade_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [226]:
#9th Grade Reading Scores
grade_9th_read=grade_9th.groupby(["school_name"]).mean()["reading_score"]

#10th Grade Reading Scores
grade_10th_read=grade_10th.groupby(["school_name"]).mean()["reading_score"]

#11th Grade Reading Scores
grade_11th_read=grade_11th.groupby(["school_name"]).mean()["reading_score"]

#12th Grade Reading Scores
grade_12th_read=grade_12th.groupby(["school_name"]).mean()["reading_score"]

In [227]:
read_grade_summary_df=pd.DataFrame({"9th": grade_9th_read,
                                "10th" : grade_10th_read,
                                "11th" : grade_11th_read,
                                "12th": grade_12th_read})
read_grade_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [228]:
#Bins Setup
bins = [0, 585, 630, 645, 680 ]
group_names= ["<$585", "$585-630","$630-645", "$645-680"]

#Bin Code
school_summary_df["Spending Ranges (Per Student)"]=pd.cut(school_summary_df["Total_Budget_Per_Student"], bins, labels=group_names, include_lowest=True)

#Final Chart
scores_by_spend=school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()[["Average_Math_Score", "Average_Reading_Score","%_Passing_Math","%_Passing_Reading","%_Overall_Passing"]]
scores_by_spend

,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size

In [229]:
#Bins Setup
bins = [0, 1000, 2000, 5000]
group_names= ["Small (<1000)", "Medium (1000-2000)","Large (2000-5000)"]

#Bin Code
school_summary_df["School Size"]=pd.cut(school_summary_df["Total_Students"], bins, labels=group_names, include_lowest=True)

#Final Chart
scores_by_spend=school_summary_df.groupby(["School Size"]).mean()[["Average_Math_Score", "Average_Reading_Score","%_Passing_Math","%_Passing_Reading","%_Overall_Passing"]]
scores_by_spend

,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [230]:
#Final Chart
scores_by_spend=school_summary_df.groupby(["School Type"]).mean()[["Average_Math_Score", "Average_Reading_Score","%_Passing_Math","%_Passing_Reading","%_Overall_Passing"]]
scores_by_spend

,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208